@model IEnumerable<VRM.DAL.Models.Test>  
  
<div class="top-buffer"></div>  
<div class="panel panel-primary"> 
    <div class="panel-body">  
        <div class="top-buffer"></div>  
        <table class="table table-bordered table-striped table-condensed">  
            <thead>  
                <tr>  
                    <th>Title</th> 
                </tr>  
            </thead>  
            <tbody>  
                @foreach (var item in Model)  
                {  
                    <tr>  
                        <td>@item.Title</td>
                        <td>  
                            <a data-toggle="modal" asp-action="Participate" asp-route-id="@item.Title" 
                               class="btn btn-info">  
                                <i class="glyphicon glyphicon-pencil"></i>  Participate  
                            </a>
                        </td>  
                    </tr>  
                }  
            </tbody>  
        </table>  
    </div>  
</div>  