@model IEnumerable<AppRoleListViewModel>
  
@{
    ViewData["Title"] = "Ролі";
}

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered align-content-center" id="Datatable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.RoleName)
                        </th>
                        <th class="dontNeedFilter">
                            Дії
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var role in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(r => role.RoleName)
                            </td>
                            <td>
                                <div>
                                    <a asp-controller="Role" asp-action="CreateOrEdit" asp-route-Id="@role.Id"><br>Редагувати</a>
                                    <a asp-controller="Role" asp-action="Delete" asp-route-Id="@role.Id"><br>Видалити</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
<link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/js/roleDatatable.js"></script>
}